
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    margin: 20px;
    width: 40%;
}

form > h1 {
    text-align: center;
}

form > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}


